<%- include('common/_header',{
    title : 'TOP'
}); %>
<main>
  <div class="container">
    <% for (var i in data.list){ %>
      <div class="item" data-file="<%- data.list[i].file %>">
        <%- data.list[i].name %>
        <!--<form action="/detail" method="POST">
          <input type="submit" class="title" value="<%- data.list[i].name %>">
          <input type="hidden" name="filename" value="<%- data.list[i].file %>">
        </form>-->
      </div>
    <% } %>
  </div>

</main>
<%- include('common/_footer',{
}); %>